[Unit]
Description=Node Exporter
Documentation=https://github.com/prometheus/node_exporter
After=network-online.target

[Service]
User={{ node_exporter_user }}
Group={{ node_exporter_group }}
Type=simple
ExecStart={{ node_exporter_bin_dir }}/node_exporter \
  --web.listen-address={{ node_exporter_web_listen_address }}

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
