global:
  scrape_interval: {{ prometheus_global_scrape_interval }}
  evaluation_interval: {{ prometheus_global_evaluation_interval }}
  scrape_timeout: {{ prometheus_global_scrape_timeout }}

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:{{ prometheus_web_port }}"]
